body{
font-family:arial,sans-serif;
background:grey;


}
header{
background-color:lightgreen;
color:white;
width:80%;
margin-left:auto;
margin-right:auto;
padding:10px;
overflow:hidden;
}
hgroup{
width:70%;
float:left;

}
nav{
width:30%;
float:right;
}
nav ul{
list-style-type:none;
}
nav li{
float:left;
margin-right:10px;
}

section{
background-color:white;
color:black;
width:80%;
margin-right:auto;
margin-left:auto;
border-width:5px;
border-style:solid;
border-color:lightgreen;
padding:5px;



}
img{
border-style:solid;
border-color:blue;
}
h1{
text-align:center;
text-transform:uppercase;
}
article h1{
color:blue;
}
article img{
float:top;
margin:5px;
border-style:out
set;
border-width:2px;
border-color:blue;
}
footer{
background-color:lightgreen;
color:white;
text-align:center;
width:80%;
margin-left:auto;
margin-right:auto;
padding:10px;



}